#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
body{
  font-family: 'Heebo', sans-serif;
}
.gray5{
  width: 858px;
  height: 0;
  border: 1px solid #E0E0E0;
}
.gray4{
  width: 681px;
  height: 0;
  border: 1px solid #E0E0E0;
}
