.box{
    height: 200px;
    background: yellow;
}
.grid{
    display: grid;
}
@media (min-width: 768px){
    .box{
        background: green;
    }
}
@media (min-width: 1280px){
    .box{
        background:red;
    }
}
@media(min-width: 1500px){
    .box{
        background: black;
    }
}
